<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="SmartNet_Browser.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <connectionStrings/>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
    <userSettings>
        <SmartNet_Browser.My.MySettings>
            <setting name="PrivateBrowsing" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="History" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>
                </value>
            </setting>
            <setting name="SearchHistory" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>
                </value>
            </setting>
            <setting name="PreventMultipleTabsClose" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SearchEngine" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="CustomSearchURL" serializeAs="String">
                <value/>
            </setting>
            <setting name="CustomSearchName" serializeAs="String">
                <value>Moteur personnalisé</value>
            </setting>
            <setting name="FirstStart" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AutoUpdates" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AdBlocker" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ChildrenProtection" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ChildrenProtectionPassword" serializeAs="String">
                <value/>
            </setting>
            <setting name="BrowserSettingsSecurity" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BrowserSettingsSecurityPassword" serializeAs="String">
                <value/>
            </setting>
            <setting name="DeleteCookiesWhileClosing" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UserAgent" serializeAs="String">
                <value/>
            </setting>
            <setting name="FirstStartFromReset" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PopUpBlocker" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Homepage" serializeAs="String">
                <value>http://homepage.quentinpugeat.fr/</value>
            </setting>
            <setting name="Favorites" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>http://quentinpugeat.pagesperso-orange.fr</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="AdBlockerWhitelist" serializeAs="String">
                <value>http://quentinpugeat.pagesperso-orange.fr</value>
            </setting>
            <setting name="UserAgentLanguage" serializeAs="String">
                <value>fr</value>
            </setting>
            <setting name="HistoryFavoritesSecurity" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DefaultDownloadFolder" serializeAs="String">
                <value/>
            </setting>
            <setting name="DownloadHistory" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string xsi:nil="true"/>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="DoNotTrack" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CorrectlyClosed" serializeAs="String">
                <value>True</value>
            </setting>
        </SmartNet_Browser.My.MySettings>
    </userSettings>
</configuration>
