body
{
	background-color:lightgrey;
	color:black;
	text-align: center;
	font-family: Open Sans, Segoe UI, sans-serif;
	position: fixed;
	top: 30%;
	width:100%;
}
a
{
	color:white;
}
img
{
	padding-right:15px;
}
div
{
	display: inline-block;
	width:50%;
	vertical-align: top;
	text-align:left;
}
h1
{
	font-weight:normal;
	margin:0;
	padding:0;
}
h2
{
	font-weight:normal;
	margin-top:0px;
	margin-bottom:0px;
	vertical-align: top;
}
